In [5]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [ ]:
SDdata=pd.read_csv("employees.csv")
#converting the data frame to numpy array
new=SDdata.to_numpy()

In [34]:
#get the number of columns in the data set 
num_columns=new.shape[1]

In [35]:
num_columns

11

In [36]:
#creating a list to store each column seperately
column=[]

In [37]:
#using a for loop and extracting each column and store it in the list 
for i in range (num_columns):
    column_data=new[:,i]
    column.append(column_data)

In [39]:
column[0]
#the column list contains all the columns and u can access each individual column using indexing

array([198, 199, 200, 201, 202, 203, 204, 205, 206, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140],
      dtype=object)